td
{
  font-size: small;
}
th
{
  font-size: medium;
  text-align: left;
}
.guestName
{
  font-weight: bold;
  text-align: center;
  font-size: x-large;
  font-family: "Windsong", cursive;
  margin: 2px 0;

}
.detailsText
{
  font-weight: bold;
  text-align: center;
  font-size: xx-large;
  font-family: "Fuggles", cursive;
  margin: 2px 0;
}

.date
{
  text-align: center;
  font-size: medium;
}
table
{
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}
.gif
{
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
