.entryFormCard
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(207, 111, 211,0.75);
  color: #525a7a;
}
.entryFormCard > ion-card-header
{
  color: #525a7a;
  padding: 5px 0 0;
  font-size: x-large ;
  font-weight: bold ;
  font-family: "Send Flowers", cursive;
}
.entryFormCard > ion-button
{
  background-color: black;
}
.gifCard
{
  background-color: rgb(255,255,255,0);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.heading
{
  margin-top: 10px;
  padding-top: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.heading > h2
{
  margin-bottom: 5px;
  text-align: center;
  font-size: xxx-large;
  font-weight: bolder;
  color: #525a7a;
  font-family: "Monsieur La Doulaise", cursive;
}
img{
  padding-top: 10px;
}
